@use 'sass:map';
@use 'vuetify/settings';

// ========== BREAKPOINTS ========== //
$screen-mobile-width: map.get(settings.$grid-breakpoints, 'sm');
$screen-tablet-width: map.get(settings.$grid-breakpoints, 'md');
$screen-desktop-width: map.get(settings.$grid-breakpoints, 'lg');

// ========== ELEVATIONS ========== //
$elevation-property: box-shadow !default;
$elevation-transition-duration: 280ms !default;
$animation-standard-curve-timing-function: cubic-bezier(.4, 0, .2, 1) !default;
$elevation-transition-timing-function: $animation-standard-curve-timing-function !default;
